body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2{
    text-align: center;
}

label{

    text-align: right;
}
input {
    width: 150px;
    display: block;
}

#save-btn {
    background-color: rgb(141, 203, 214);
    border-radius: 6px;
    border-color:rgb(141, 203, 214) ;
    width: 100px;
    height: 25px;
    margin-left:auto;
    margin-right: auto;
}

#column{
    background-color: rgb(208, 225, 228);
}

/* th{
    font-size: 12px;
    display: block;
    float: left;
} */

#save-btn:hover {
    color: blanchedalmond;
    background-color: rgb(156, 49, 49);
    border-color:rgb(156, 49, 49) ;
}

/* #result {
    font-size: 12px;
    display: block;
    float: left;
} */
